<div class="container ">
<h2 style="margin-bottom: 1rem; margin-top: 1rem;">Leadership Dashboard</h2>
  <div class="row">
    <div class="col-lg-4 col-6">

      <div class="small-box theme-background">
        <div class="inner">
          <h3 style="color: white !important;">{{ this.objectives }}</h3>
          <p style="color: white !important;">Strategic Objective</p>
        </div>
        <div class="icon" style="margin-top: 1rem;">
          <i class="ion ion-stats-bars"></i>
        </div>
<div style="padding: 0.8rem;"></div>
      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box theme-background">
        <div class="inner">
          <h3 style="color: white !important;">{{ this.goals }}</h3>
          <p style="color: white !important;">Goals</p>
        </div>
        <div class="icon" style="margin-top: 1rem;">
          <i class="ion ion-stats-bars"></i>
        </div>
        <div style="padding: 0.8rem;"></div>
      </div>
    </div>
    <div class="col-lg-4 col-6">

      <div class="small-box theme-background">
        <div class="inner">
          <h3 style="color: white !important;">{{ this.projects }}</h3>
          <p style="color: white !important;">Projects</p>
        </div>
        <div class="icon" style="margin-top: 1rem;">
          <i class="ion ion-stats-bars"></i>
        </div>
        <div style="padding: 0.8rem;"></div>
      </div>
    </div>
    <div class="col-lg-4 col-6">

      <div class="small-box theme-background">
        <div class="inner">
          <h3 style="color: white !important;">{{ this.objectivesKpis }}</h3>
          <p style="color: white !important;">Strategic Objective KPIs</p>
        </div>
        <div class="icon" style="margin-top: 1rem;">
          <i class="ion ion-stats-bars"></i>
        </div>
        <div style="padding: 0.8rem;"></div>
      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box theme-background">
        <div class="inner">
          <h3 style="color: white !important;">{{ this.goalsPercentage }}%</h3>
          <p style="color: white !important;">Goals %</p>
        </div>
        <div class="icon" style="margin-top: 1rem;">
          <i class="ion ion-stats-bars"></i>
        </div>
        <div style="padding: 0.8rem;"></div>
      </div>
    </div>

    <div class="col-lg-4 col-6">

      <div class="small-box theme-background">
        <div class="inner">
          <h3 style="color: white !important;">{{ this.operations }}</h3>
          <p style="color: white !important;">Operations</p>
        </div>
        <div class="icon" style="margin-top: 1rem;">
          <i class="ion ion-stats-bars"></i>
        </div>
        <div style="padding: 0.8rem;"></div>
      </div>
    </div>


  </div>


<div class="row">

  <div class="col-lg-12">

    <h2 style="margin-bottom: 1rem; margin-top: 1rem;">Contribution percentage of all departments
    with the strategic plan</h2>
    <canvas style="max-height: 500px;"  id="myChart" ></canvas>
  </div>

</div>
<div class="row" style="margin-top: 2rem;">

  <div class="col-lg-6">
    <h2  style="text-align: center; margin-bottom: 1rem; margin-top: 1rem;">Contribution percentage of all KPIs
      with the strategic plan</h2>
    <canvas  id="KPIChart" ></canvas>
  </div>
  <div class="col-lg-6">
    <h2  style="text-align: center; margin-bottom: 1rem; margin-top: 1rem;">Contribution percentage of all KPIs
      with the strategic plan</h2>
    <canvas  id="KPIChart1" ></canvas>
  </div>

</div>
</div>
