<!-- Content Header (Page header) -->
<section class="content-header" *ngIf="!AddOnFly">
  <h1>
    {{ GetLocalResourceObject("lblActionPlans") }}
    <small>{{ GetLocalResourceObject("lblSettings") }}</small>
  </h1>
  <ol class="breadcrumb">
    <li>{{ GetLocalResourceObject("lblSettings") }}</li>
    <li class="active">{{ GetLocalResourceObject("lblActionPlans") }}</li>
  </ol>
</section>

<!--Projects-->
<section class="content">
  <div class="row" *ngIf="!AddOnFly">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ GetLocalResourceObject("lblSearch") }}</h3>
        </div>
        <form #ProjectsForm="ngForm">
          <div class="box-body">
            <div class="row">
              <div class="col-xs-3">
                <label>{{ GetLocalResourceObject("lblYear") }}</label>
                <select
                  required
                  class="form-control"
                  name="ddlYear"
                  id="ddlYear"
                  (change)="ddlYearChange()"
                  [(ngModel)]="ddlYear"
                  #ddlYearRef="ngModel"
                >
                  <option *ngFor="let x of yearLst" value="{{ x.id }}">
                    {{ x.year }}
                  </option>
                </select>

                <ValidatorCallOut
                  ID="ddlYearValidator"
                  [Visibiltiy]="ddlYearRef.invalid && ddlYearRef.touched"
                  [ControlToValidate]="ddlYearRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>
              <div class="col-xs-3">
                <label>{{ GetLocalResourceObject("lblUnit") }}</label>
                <select
                  class="form-control"
                  name="unite"
                  id="unite"
                  (change)="unitChange()"
                  [(ngModel)]="unite"
                >
                  <option *ngFor="let x of unites" value="{{ x.ID }}">
                    {{ x.NAME }}
                  </option>
                </select>
              </div>
              <div class="col-xs-3">
                <label>{{ GetLocalResourceObject("lblProjectSearch") }}</label>
                <select
                  class="form-control"
                  required
                  name="ddlProjectsSearch"
                  id="ddlProjectsSearch"
                  (change)="LoadKpis()"
                  [(ngModel)]="ddlProjectsSearch"
                  #ddlProjectsSearchRef="ngModel"
                >
                  <option value="">--All--</option>

                  <option *ngFor="let x of ProjectsList" value="{{ x.ID }}">
                    {{ x.Name }}
                  </option>
                </select>

                <ValidatorCallOut
                  ID="ddlProjectsSearchValidator"
                  [Visibiltiy]="
                    ddlProjectsSearchRef.invalid && ddlProjectsSearchRef.touched
                  "
                  [ControlToValidate]="ddlProjectsSearchRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>


              <div class="col-xs-3">
                <label>{{
                  GetLocalResourceObject("lblProjectKpiSearch")
                }}</label>
                <select
                  class="form-control"
                  name="ddlProjectKPISearch"
                  id="ddlProjectKPISearch"
                  [(ngModel)]="ddlProjectKPISearch"
                  #ddlProjectKPISearchRef="ngModel"
                >
                  <option value="">--All--</option>
                  <option *ngFor="let x of ProjectKPIList" value="{{ x.ID }}">
                    {{ x.Name }}
                  </option>
                </select>
              </div>

              <div class="col-xs-3">
                <label style="margin-top: 1rem;">{{ GetLocalResourceObject("lblEmpSearch") }}</label>
                <select
                  class="form-control"
                  name="ddlEmployees"
                  id="ddlEmployees"
                  [(ngModel)]="ddlEmployees"
                  #ddlEmployeesRef="ngModel"
                >
                  <option value="">--All--</option>
                  <option *ngFor="let x of EmployeesList" value="{{ x.ID }}">
                    {{ x.FullName }}
                  </option>
                </select>
              </div>
            </div>
           </div>
          <!-- /.box-body -->

          <div class="box-footer" style="text-align: right">
            <button
              [disabled]="ProjectsForm.invalid"
              class="btn btn-primary pull-right"
              (click)="SearchActionPlans()"
            >
              {{ GetLocalResourceObject("lblSearch") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!AddOnFly">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">

        <!-- /.box-header -->
        <div  class="box-body">
          <div class="row ">
            <div *ngIf="showWeight" class="col-sm-3 col-md-6 col-6">
              <div class="description-block border-right border-bold">
                <h5 class="description-header mb-4">{{ plannedWeight | number: "1.1-2" }}%</h5>
                <br>
                <span class="description-text mt-5">{{ "reviewAndAssesment.plannedWeight" | translate }}</span>
              </div>

            </div>

            <div *ngIf="showWeight && plannedWeight != 0 && notShowActual" class="col-sm-3 col-md-6 col-6">
              <div class="description-block border-right ">

                <h5 class="description-header">{{ actualWeight | number: "1.1-2" }}%</h5>
                <br>
                <span class="description-text">{{ "reviewAndAssesment.actualWeight" | translate }}</span>
              </div>

            </div>




          </div>
        </div>

      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header" style="vertical-align: middle">
          <h3 class="box-title">
            {{ "strategic.actionPlan.actionPlanActivitiesList" | translate }}
          </h3>
          <div class="pull-right box-tools">
            <button
              type="button"
              class="btn btn-success btn-sm btn-Add-right"
              (click)="AddActionPlan()"
              data-widget="Add"
              data-toggle="tooltip"
              title=""
              data-original-title="Add"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <DataGrid
            #gvActionPlans
            [ShowButtons]="true"
            [RowSelection]="false"
            [AllowExportExcel]="false"
            [HideFooter]="false"
            (GridEvent)="gvActionPlansEvent($event)"
          >
          </DataGrid>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <div class="row" id="entryPanel" *ngIf="ShowEntry">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            {{ "strategic.actionPlan.actionPlanActivitiesEntry" | translate }}
          </h3>
        </div>
        <form #ActionPlanForm="ngForm">
          <div class="box-body" #EntryPanel>
            <div class="row">
              <div class="col-xs-12">
                <label>{{
                  "strategic.actionPlan.activityName" | translate
                }}</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  name="txtActionPlanName"
                  id="txtActionPlanName"
                  [(ngModel)]="txtActionPlanName"
                  #txtActionPlanNameRef="ngModel"
                />

                <ValidatorCallOut
                  ID="txtActionPlanNameValidator"
                  [Visibiltiy]="
                    txtActionPlanNameRef.invalid && txtActionPlanNameRef.touched
                  "
                  [ControlToValidate]="txtActionPlanNameRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>
            </div>

            <div class="row " style="margin-top: 1rem;">
              <div class="col-xs-3">
                <label>{{
                  "strategic.actionPlan.projectKPI" | translate
                }}</label>
                <select
                  required
                  class="form-control"
                  name="ddlProjectKPIEntry"
                  id="ddlProjectKPIEntry"
                  (change)="onKPI_planEntryChange()"
                  [(ngModel)]="ddlProjectKPIEntry"
                  #ddlProjectKPIEntryRef="ngModel"
                >
                  <option value="0">--All--</option>
                  <option *ngFor="let x of ProjectKPIList" value="{{ x.ID }}">
                    {{ x.Name }}
                  </option>
                </select>

                <ValidatorCallOut
                  ID="ddlProjectKPIEntryValidator"
                  [Visibiltiy]="
                    ddlProjectKPIEntryRef.invalid &&
                    ddlProjectKPIEntryRef.touched
                  "
                  [ControlToValidate]="ddlProjectKPIEntryRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>

              <div class="col-xs-3">
                <label>{{ "strategic.actionPlan.employee" | translate }}</label>
                <select
                  required
                  class="form-control"
                  name="ddlEmployeesEntry"
                  id="ddlEmployeesEntry"
                  [(ngModel)]="ddlEmployeesEntry"
                  #ddlEmployeesEntryRef="ngModel"
                >
                  <option *ngFor="let x of EmployeesList" value="{{ x.ID }}">
                    {{ x.FullName }}
                  </option>
                </select>

                <ValidatorCallOut
                  ID="ddlEmployeesEntryValidator"
                  [Visibiltiy]="
                    ddlEmployeesEntryRef.invalid && ddlEmployeesEntryRef.touched
                  "
                  [ControlToValidate]="ddlEmployeesEntryRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>

              <div class="col-xs-3">
                <label>{{ "strategic.actionPlan.activityRequirement" | translate }}</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  name="txtActionReq"
                  id="txtActionReq"
                  [(ngModel)]="txtActionReq"
                  #txtActionReqRef="ngModel"
                />

                <ValidatorCallOut
                  ID="txtTargetValidator"
                  [Visibiltiy]="
                    txtActionReqRef.invalid && txtActionReqRef.touched
                  "
                  [ControlToValidate]="txtActionReqRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>

              <div class="col-xs-3">
                <label>{{ "strategic.actionPlan.activityCost" | translate }}</label>
                <input
                  type="Number"
                  class="form-control"
                  name="txtActionCost"
                  id="txtActionCost"
                  [(ngModel)]="txtActionCost"
                  #txtActionCostRef="ngModel"
                  [min]="0"
                />
              </div>
            </div>

            <div class="row" style="margin-top: 1rem;">
              <div class="col-xs-3">
                <label>{{ "strategic.actionPlan.activityWeight" | translate }}</label>
                <input
                  type="number"
                  required
                  class="form-control"
                  name="txtActionWeight"
                  id="txtActionWeight"
                  [max]="remainingPlanWeight"
                  [min]="0"
                  [(ngModel)]="txtActionWeight"
                  #txtActionWeightRef="ngModel"
                />
                <ValidatorCallOut
                  ID="txtActionWeightValidator"
                  [Visibiltiy]="
                    txtActionWeightRef.invalid && txtActionWeightRef.touched
                  "
                  [ControlToValidate]="txtActionWeightRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>

              <div class="col-xs-3">
                <label>{{ "strategic.actionPlan.activityDate" | translate }}</label>
                <input
                  type="date"
                  required
                  class="form-control"
                  name="txtActionDate"
                  id="txtActionDate"
                  (ngModelChange)="txtActionDate = $event"
                  [ngModel]="txtActionDate | date: 'yyyy-MM-dd'"
                  #txtActionDateRef="ngModel"
                />

                <ValidatorCallOut
                  ID="txtActionDateValidator"
                  [Visibiltiy]="
                    txtActionDateRef.invalid && txtActionDateRef.touched
                  "
                  [ControlToValidate]="txtActionDateRef"
                  ErrorMessage="This field is required."
                >
                </ValidatorCallOut>
              </div>
            </div>

            <div class="row" style="margin-top: 1rem;">
              <div class="col-xs-12">
                <label>{{ "strategic.actionPlan.notesEvidences" | translate }}</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="txtActionPlanNotes"
                  id="txtActionPlanNotes"
                  [(ngModel)]="txtActionPlanNotes"
                ></textarea>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer text-right">
            <button
              class="btn btn-primary btn-sm"
              [disabled]="ActionPlanForm.invalid"
              *ngIf="
                selectedPlanID == '' ||
                planned_status == 1 ||
                (is_reveiwer_user && planned_status == 3)
              "
              (click)="SaveActionPlan()"
            >
            {{ "setup.approval.save" | translate }}
            </button>

            <button
              class="btn btn-primary btn-sm"

              *ngIf="
                is_reveiwer_user && selectedPlanID != '' && planned_status != 2
              "
              (click)="ConfirmProject()"
            >
            Confirm
            </button>
            <button
              class="btn btn-primary btn-sm"

              *ngIf="
                is_reveiwer_user && selectedPlanID != '' && planned_status != 3
              "
              (click)="DeclineProject()"
            >
            Decline
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showTabs" id="tabsDiv">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ lblSelectedPlanName }}</h3>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">{{ "strategic.actionPlan.actionPlanKPIList" | translate }}</h3>
                <div class="pull-right box-tools">
                  <button
                    type="button"
                    class="btn btn-success btn-sm"
                    (click)="ActioPlanKpiAdd()"
                    data-widget="Add"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Add"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-3">
                    <label>{{ GetLocalResourceObject("lblBSC") }}</label>
                    <select
                      class="form-control"
                      (change)="refreshObjKpisList()"
                      name="ddlObjBSC"
                      id="ddlObjBSC"
                      [(ngModel)]="ddlObjKpiBSCSearch"
                    >
                      <option value="" selected>
                        {{ GetLocalResourceObject("lblKpiBSCALLOption") }}
                      </option>
                      <option value="1">
                        {{ GetLocalResourceObject("lblKpiBSCFinancialOption") }}
                      </option>
                      <option value="2">
                        {{ GetLocalResourceObject("lblKpiBSCCustomersOption") }}
                      </option>
                      <option value="3">
                        {{
                          GetLocalResourceObject(
                            "lblKpiBSCInternalProcessOption"
                          )
                        }}
                      </option>
                      <option value="4">
                        {{
                          GetLocalResourceObject(
                            "lblKpiBSCLearninggrowthOption"
                          )
                        }}
                      </option>
                    </select>
                  </div>
                </div>
                <br />
                <DataGrid
                  #gvKPIs
                  [ShowButtons]="true"
                  [RowSelection]="false"
                  [AllowExportExcel]="false"
                  [HideFooter]="false"
                  (GridEvent)="gvKPIsHandler($event)"
                >
                </DataGrid>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showKpiEntry">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">{{ "strategic.actionPlan.actionPlanKPIEntry" | translate }}</h3>
              </div>
              <form #ObjectiveKPIsEntry="ngForm">
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-5">
                      <label>{{ GetLocalResourceObject("lblKpiName") }}</label>
                      <input
                        class="form-control"
                        type="text"
                        name="txtKpiName"
                        id="txtKpiName"
                        [(ngModel)]="txtKpiName"
                        required
                        #txtKpiNameRef="ngModel"
                      />

                      <ValidatorCallOut
                        ID="txtKpiNameValidator"
                        [Visibiltiy]="
                          txtKpiNameRef.invalid && txtKpiNameRef.touched
                        "
                        [ControlToValidate]="txtKpiNameRef"
                        ErrorMessage="This field is required."
                      >
                      </ValidatorCallOut>
                    </div>
                    <div class="col-xs-7">
                      <label>{{ GetLocalResourceObject("lblKpiDesc") }}</label>
                      <textarea
                        class="form-control"
                        name="txtDesc"
                        id="txtDesc"
                        [(ngModel)]="txtKpiDesc"
                      >
                      </textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3">
                      <label>{{
                        GetLocalResourceObject("lblKpiMeasure")
                      }}</label>
                      <select
                        class="form-control"
                        required
                        name="ddlMeasurement"
                        id="ddlMeasurement"
                        [(ngModel)]="ddlKpiMeasurement"
                        #ddlKpiMeasurementRef="ngModel"
                      >
                        <option value="1">
                          {{
                            GetLocalResourceObject(
                              "lblKpiMeasurePercentageOption"
                            )
                          }}
                        </option>
                        <option value="2">
                          {{
                            GetLocalResourceObject("lblKpiMeasureValueOption")
                          }}
                        </option>
                      </select>

                      <ValidatorCallOut
                        ID="ddlKpiMeasurementValidator"
                        [Visibiltiy]="
                          ddlKpiMeasurementRef.invalid &&
                          ddlKpiMeasurementRef.touched
                        "
                        [ControlToValidate]="ddlKpiMeasurementRef"
                        ErrorMessage="This field is required."
                      >
                      </ValidatorCallOut>
                    </div>
                    <div class="col-xs-3">
                      <label>{{
                        GetLocalResourceObject("lblKpiTarget")
                      }}</label>
                      <input
                        class="form-control"
                        required
                        type="number"
                        name="txtTarget"
                        id="txtTarget"
                        [(ngModel)]="txtKpiTarget"
                        #txtKpiTargetRef="ngModel"
                      />

                      <ValidatorCallOut
                        ID="txtKpiTargetValidator"
                        [Visibiltiy]="
                          txtKpiTargetRef.invalid && txtKpiTargetRef.touched
                        "
                        [ControlToValidate]="txtKpiTargetRef"
                        ErrorMessage="This field is required."
                      >
                      </ValidatorCallOut>
                    </div>
                    <div class="col-xs-3">
                      <label>{{
                        GetLocalResourceObject("lblKpiWeight")
                      }}</label>
                      <input
                        class="form-control"
                        [max]="remainingKPIWeight"
                        [min]="0"
                        required
                        type="number"
                        name="txtweight"
                        id="txtweight"
                        [(ngModel)]="txtKpiweight"
                        #txtKpiweightRef="ngModel"
                      />

                      <ValidatorCallOut
                        ID="txtKpiweightValidator"
                        [Visibiltiy]="
                          txtKpiweightRef.invalid && txtKpiweightRef.touched
                        "
                        [ControlToValidate]="txtKpiweightRef"
                        ErrorMessage="This field is required."
                      >
                      </ValidatorCallOut>
                    </div>

                    <div class="col-xs-3">
                      <label>{{ GetLocalResourceObject("lblBSC") }}</label>
                      <select
                        class="form-control"
                        required
                        name="ddlBSC"
                        id="ddlBSC"
                        [(ngModel)]="ddlKpiBSC"
                        #ddlKpiBSCRef="ngModel"
                      >
                        <option value="1">
                          {{
                            GetLocalResourceObject("lblKpiBSCFinancialOption")
                          }}
                        </option>
                        <option value="2">
                          {{
                            GetLocalResourceObject("lblKpiBSCCustomersOption")
                          }}
                        </option>
                        <option value="3">
                          {{
                            GetLocalResourceObject(
                              "lblKpiBSCInternalProcessOption"
                            )
                          }}
                        </option>
                        <option value="4">
                          {{
                            GetLocalResourceObject(
                              "lblKpiBSCLearninggrowthOption"
                            )
                          }}
                        </option>
                      </select>

                      <ValidatorCallOut
                        ID="ddlKpiBSCValidator"
                        [Visibiltiy]="
                          ddlKpiBSCRef.invalid && ddlKpiBSCRef.touched
                        "
                        [ControlToValidate]="ddlKpiBSCRef"
                        ErrorMessage="This field is required."
                      >
                      </ValidatorCallOut>
                    </div>
                  </div>
                </div>
              </form>
              <div class="box-footer" style="text-align: right">
                <button
                  [disabled]="ObjectiveKPIsEntry.invalid"
                  *ngIf="
                    !EditMode ||
                    planned_status == 1 ||
                    (is_reveiwer_user && planned_status == 3)
                  "
                  (click)="SaveObjectiveKpi()"
                  class="btn btn-primary"
                >
                  {{ GetLocalResourceObject("btnKpiSave") }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
