<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false"/>
        <section name="oracle.manageddataaccess.client"
                 type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <add key="DatabaseName" value="erp_tms"/>
        <!--For Token-->
        <add key="Authorization" value="Dc24odPPM8iEFmcE9NRbVg=="/>
        <add key="EmployeeImagesPath" value="D:\Projects\2019\HR.System\HR.APIs\EmployeeImages\"/>
        <add key="AppURL" value="http://localhost/HR.APIs/EmployeeImages/"/>
        <add key="DocumentURL" value="http://localhost/HR.APIs/Documents/"/>
    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
    <system.web>
        <trust level="Full"/>
        <compilation targetFramework="4.8" debug="true"/>
        <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0"/>
        <pages validateRequest="false"/>
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!--
                <add name="Access-Control-Allow-Origin" value="*"/>
                -->
                <add name="Access-Control-Allow-Headers"
                     value="x-requested-with,origin,Content-Type,Authorization,dddd"/>
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
            </customHeaders>
        </httpProtocol>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
            <remove name="OPTIONSVerbHandler"/>
            <remove name="TRACEVerbHandler"/>
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
                 type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
        <tracing>
            <traceFailedRequests>
                <clear/>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="6.10.7.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
            <provider invariantName="Oracle.ManagedDataAccess.Client"
                      type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
            <provider invariantName="MySql.Data.MySqlClient"
                      type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </providers>
    </entityFramework>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client"
                 description="Oracle Data Provider for .NET, Managed Driver"
                 type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <!--Using to define the Oracle TNS -->
    <!-- Connection String Area -->
    <connectionStrings>
        <!--Zeid Connection-->
        <!--<add name="hr_db" connectionString="server=198.71.227.85;user=hr_db;database=hr_demo;port=3306;password=Os@123;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
        <!--<add name="hr_demo" connectionString="server=198.71.227.85;user=hr_db;database=hr_demo;port=3306;password=Os@123;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/>-->
        <!--<add name="hr_demo" connectionString="server=a2nlmysql37plsk.secureserver.net;user=dwa_user;database=dwa;port=3306;password=C!9q5tk4;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/>-->
        <!-- <add name="hr_demo" connectionString="server=a2nlmysql37plsk.secureserver.net;user=dubai-culture-training_user;database=dubai-culture-training;port=3306;password=C!9q5tk4;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/> -->
        <!-- <add name="hr_demo" connectionString="server=a2nlmysql37plsk.secureserver.net;user=hr_data_dashboard_user;database=hr_data_dashboard;port=3306;password=00_Y0xcx;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/> -->
        <!-- <add name="hr_demo" -->
        <!--      connectionString="server=localhost; -->
        <!--                user=carlist_db_user; -->
        <!--                database=dwa; -->
        <!--                port=3306; -->
        <!--                password=P@$$w0rd; -->
        <!--                CharSet=utf8; -->
        <!--                default command timeout=300;" -->
        <!--      providerName="MySql.Data.MySqlClient" />  -->
        <add name="hr_demo"
             connectionString="server=a2nlmysql37plsk.secureserver.net;
                       user=hr_final_user;
                       database=hr_final_db;
                       port=3306;
                       password=2*njr0R38;
                       CharSet=utf8;
                       default command timeout=300;"
             providerName="MySql.Data.MySqlClient" />
        <!-- <add name="hr_demo" connectionString="server=localhost;user=root;database=dwa;port=3306;password=root;CharSet=utf8;" -->
        <!--      providerName="MySql.Data.MySqlClient"/> -->
        <!-- <add name="hr_demo" connectionString="server=a2nlmysql37plsk.secureserver.net;user=hr_final_user;database=hr_final_db;port=3306;password=2*njr0R38;CharSet=utf8;" providerName="MySql.Data.MySqlClient" /> -->
        <!-- -->
        <!-- <add name="hr_db" connectionString="server=localhost;user=root;database=hr_db4;port=3306;password=Eska@123;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
        <!--<add name="hr_db" connectionString="server=localhost;user=root;database=hr_db3;port=3306;password=Eska@123;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
        <!--Ameen Connection-->
        <!--<add name="hr_db" connectionString="server=localhost;user=root;database=admin;port=3306;password=Haik@741852;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
        <!--<add name="hr_db" connectionString="server=localhost;user=root;database=hr_db;port=3306;password=Haik@741852;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
        <!--<add name="hr_db" connectionString="server=198.71.227.85;user=hr_db;database=hr_db;port=3306;password=Os@123;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
        <!--<add name="hr_db" connectionString="server=localhost;user=root;database=hr_db;port=3306;password=Haik@741852;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />-->
    </connectionStrings>
</configuration>
        <!--ProjectGuid: E88D1794-8720-44BC-A22F-3B4636A46776-->