<section class="content-header">
    <h1>
        {{GetLocalResourceObject('HeaderUnits')}}
        <small>{{GetLocalResourceObject('HeaderSetup')}}</small></h1>
    <ol class="breadcrumb">
        <li>{{GetLocalResourceObject('HeaderSetup')}}</li>
        <li class="active">{{GetLocalResourceObject('HeaderUnits')}}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{GetLocalResourceObject('Search')}}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form #SearchForm='ngForm'>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{GetLocalResourceObject('Units')}}</label>
                                <input type="text" placeholder="{{GetLocalResourceObject('Units')}}"
                                    class="form-control" name='txtSearchUnits' id='txtUnits'
                                    [(ngModel)]='txtSearchUnits'>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button (click)='LoadUnits();'
                            class="btn btn-primary">{{GetLocalResourceObject('Search')}}</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{GetLocalResourceObject('UnitsList')}}</h3>
                    <div class="pull-right box-tools">
                        <button *ngIf="modificationPermission" type="button" class="btn btn-success btn-sm btn-Add-right" (click)='UnitsAddMode();'
                            data-widget="Add" data-toggle="tooltip" title="" data-original-title="Add">
                            <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <DataGrid #gvUnits [ShowButtons]='true' [RowSelection]='false' [AllowExportExcel]='false'
                        [HideFooter]='false' (GridEvent)='gvUnitsEvent($event);'>
                    </DataGrid>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>

    <div *ngIf="showUnitEntry" class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{GetLocalResourceObject('UnitEntry')}}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form #UnitsForm='ngForm'>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-8">
                                <label>{{GetLocalResourceObject('Name')}}</label>
                                <input type="text" required class="form-control" name='txtUnitNameEntry'
                                    id='txtUnitNameEntry' [(ngModel)]='txtUnitNameEntry' #txtUnitNameEntryRef='ngModel'>
                                    <ValidatorCallOut ID="txtUnitNameEntryValidator"
                                    [Visibiltiy]="txtUnitNameEntryRef.invalid && txtUnitNameEntryRef.touched"
                                    [ControlToValidate]="txtUnitNameEntryRef"
                                        ErrorMessage='This field is required.'>
                                    </ValidatorCallOut>
                            </div>
                            <div class="col-xs-4">
                                <label>Account Username</label>
                                <input type="text" required class="form-control" name='txtUnitCode'
                                    id='txtUnitCode' [(ngModel)]='txtUnitCode' #txtUnitCodeRef='ngModel'>
                                    <ValidatorCallOut ID="txtUnitCodeValidator"
                                    [Visibiltiy]="txtUnitCodeRef.invalid && txtUnitCodeRef.touched"
                                    [ControlToValidate]="txtUnitCodeRef"
                                        ErrorMessage='This field is required.'>
                                    </ValidatorCallOut>
                            </div>
                            <div class="col-xs-12">
                                <label>{{GetLocalResourceObject('Address')}}</label>
                                <input type="text" class="form-control" name='txtUnitAddressEntry'
                                    id='txtUnitAddressEntry' [(ngModel)]='txtUnitAddressEntry'>
                            </div>
                            <div class="col-xs-4">
                                <label>{{GetLocalResourceObject('Fax')}}</label>
                                <input type="text" class="form-control" name='txtUnitFaxEntry' id='txtUnitFaxEntry'
                                    [(ngModel)]='txtUnitFaxEntry'>
                            </div>
                            <div class="col-xs-4">
                                <label>{{GetLocalResourceObject('PHONE1')}}</label>
                                <input type="text" class="form-control" name='txtUnitPHONE1Entry'
                                    id='txtUnitPHONE1Entry' [(ngModel)]='txtUnitPHONE1Entry'>
                            </div>
                            <div class="col-xs-4">
                                <label>{{GetLocalResourceObject('PHONE2')}}</label>
                                <input type="text" class="form-control" name='txtUnitPHONE2Entry'
                                    id='txtUnitPHONE2Entry' [(ngModel)]='txtUnitPHONE2Entry'>
                            </div>
                            <div class="col-xs-4">
                                <label>{{GetLocalResourceObject('Type')}}</label>
                                <select required class="form-control" name='ddlUnitTypeID' id='ddlUnitTypeID'
                                    [(ngModel)]='ddlUnitTypeID' #ddlUnitTypeIDRef='ngModel'>
                                    <option *ngFor="let x of unitTypesList" value="{{x.MINOR_NO}}">{{x.NAME}}
                                    </option>

                                </select>

                                <ValidatorCallOut ID="ddlUnitTypeIDValidator"
                                [Visibiltiy]="ddlUnitTypeIDRef.invalid && ddlUnitTypeIDRef.touched"
                                [ControlToValidate]="ddlUnitTypeIDRef"
                                    ErrorMessage='This field is required.'>
                                </ValidatorCallOut>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button [disabled]='UnitsForm.invalid' (click)='SaveUnits();'
                            class="btn btn-primary">{{GetLocalResourceObject('Save')}}</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
</section>
