<section class="content-header">
  <h1>
      {{"setup.year.title"|translate}}
      <small>{{"setup.grade.setup"|translate}}</small></h1>
  <ol class="breadcrumb">
      <li>{{"setup.grade.setup"|translate}}</li>
      <li class="active">{{"setup.year.title"|translate}}</li>
  </ol>
</section>
<div class="container">
  <h3 class="text-center p-3">{{ "setup.year.title" | translate }}</h3>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ "setup.year.yearList" | translate }}</h3>
          <div class="pull-right box-tools">
            <button
              type="button"
              class="btn btn-success btn-sm btn-Add-right"
              (click)="yearAddMode()"
              data-widget="Add"
              data-toggle="tooltip"
              title=""
              data-original-title="Add"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <DataGrid
            #gvYear
            [ShowButtons]="true"
            [RowSelection]="false"
            [AllowExportExcel]="false"
            [HideFooter]="false"
            (GridEvent)="gvYearEvent($event)"
          >
          </DataGrid>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <div class="row" *ngIf="addYearEntry">
    <div class="col-sm-1">
      <label for="exampleInputName"
        >{{ "setup.year.yearName" | translate }}:</label
      >
    </div>
    <div class="col-sm-3">
      <input
        type="text"
        class="form-control"
        id="exampleInputName"
        [(ngModel)]="yearValue"
      />
      
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary" (click)="addYear()">
          {{ "setup.approval.add"| translate }}
        </button>
      </div>
  </div>
  <!--
    <div class="row" *ngIf="addGradeEntry">
      <div class="col-sm-6">
        <label for="exampleInputName">{{
          "setup.grade.gradeName" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputName"
          [(ngModel)]="gradeName"
        />
        <label for="exampleInputscaleCode">{{
          "setup.grade.scaleCode" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputscaleCode"
          [(ngModel)]="scaleCode"
        />
        <label for="exampleInputscaleNumber">{{
          "setup.grade.scaleNumber" | translate
        }}</label>
        <input
          type="number"
          class="form-control"
          id="exampleInputscaleNumber"
          [(ngModel)]="scaleNumber"
        />
        <button class="btn btn-primary" (click)="addGrade()">Save</button>
      </div>
    </div> -->
</div>
